# Discord
BOT_TOKEN=your_bot_token_here
GUILD_ID=1497894651300941984

# Forum intérimaire
INTERIM_FORUM_ID=1498709065558134875

# Dashboard
DASHBOARD_URL=https://sitegestion.sliplane.app
BOT_INTERNAL_TOKEN=reoxitof_le_goat

# PostgreSQL
PG_HOST=postgres-5ljq.internal
PG_PORT=5432
PG_DB=mydb
PG_USER=postgres
PG_PASSWORD=montage2026

# Healthcheck
PORT=3000
